/* 
font-family: 'Lobster', cursive;
font-family: 'PT Sans', sans-serif;
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: #31405B;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.inner-page {
    padding-top: 60px;
    padding-bottom: 100px;
}

.bgcolor {
    background: #F2F8F6;
}

.button {
    display: inline-block;
    padding: 12px 40px;
    background: #0AC883;
    box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;

}

/* header */


.header {
    position: relative;
    height: 800px;
    padding-top: 50px;
    background-color: #265847;
    background-image: url(./../images/index/banner.jpg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url(./../images/tours/header-small-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;

}

.logo {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

.header-nav {
    font-size: 22px;
    color: #FFFFFF;

}

.header-nav-list {
    display: flex;
    gap: 50px;
}

.header-nav-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-content {
    position: absolute;
    width: 1170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-content p {
    font-size: 24px;
    line-height: 31px;
}

.header-title {
    font-weight: 700;
    font-size: 60px;
}

.heder-scroll {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding-bottom: 34px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.heder-scroll::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/arrow.svg);
}

/* main */

.main {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.main-row:last-child {
    margin-bottom: 0;
}

.main-row:nth-child(even) {
    flex-direction: row-reverse;
}

.main-content {
    width: 470px;
}

.main-content-header {
    margin-bottom: 20px;
}

.main-header {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 54px;
    color: #31405B;
}

.main-content-text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.6;
    color: #31405B;
}

.main-content-text p {
    margin-top: 0;
    margin-bottom: 15px;
}

.main-content-text a {
    color: #138ECE;
}


.main-img {
    width: 570px;
}

/* footer */

.footer {
    padding-top: 70px;
    padding-bottom: 90px;
    background: #265847;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}


.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-widgets-wrapper {
    display: flex;
    gap: 30px;
}

.footer-copyright {
    width: 270px;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 1.6;
}

.footer-logo {
    margin-bottom: 26px;
}

.footer-logo a:hover {
    text-decoration: none;
}

.footer-widget-info {
    width: 170px;
}

.footer-widget-services,
.footer-widget-contacts {
    width: 270px;
}



.footer-widget-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}

.footer-widget-list li {
    margin-bottom: 15px;
}

/* Inner page tours */


.inner-page-tours-header {
    margin-bottom: 60px;
}

.inner-page-tours-header {
    text-align: center;
}

/* Cards */

.cards-first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cards-second-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cards-second-row-column>a+a {
    margin-top: 30px;
}

.card {
    width: 570px;
}

.card.bigger {
    width: 670px;
}

.card.small {
    width: 470px;
}



/* Card */

.card-link-wrapper {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.card-link-wrapper:hover {
    opacity: 0.8;
}

.card-title-wrapper {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    background: #A6A6A6;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;

}

.card-title-wrapper.sand-color {
    background: #C1B19B;
}

.card-title-wrapper.blue-color {
    background: #66B0BE;
}

.card-title-wrapper.brown-color {
    background: #876F56;
}

.card-title-wrapper.green-color {
    background: #27695E;
}


.card-title {
    font-weight: 700;
    font-size: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Article page */

.row-article-page {
    display: flex;
    justify-content: space-between;
}

.article-page-nav {
    width: 270px;
    flex-shrink: 0;
    flex-grow: 0;
}

.article-page-article {
    width: 770px;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 20px;
    line-height: 1.6;
}

.article-page-nav-title {
    font-weight: 700;
    font-size: 28px;
    color: #31405B;
    margin-bottom: 34px;

}

.article-page-nav-list {
    border-top: 1px solid #D6D9D8;
    font-size: 20px;
}

.article-page-nav-list li {
    border-bottom: 1px solid #D6D9D8;
    ;
}

.article-page-nav-list a {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #138ECE;
    text-decoration: none;
}

.article-page-nav-list a:hover {
    text-decoration: underline;
}

.article-page-nav-list a.active {
    font-weight: 700;
    color: #E04E4E;
}

.article-page-article h1,
.article-page-article h2,
.article-page-article h3,
.article-page-article h4,
.article-page-article h5,
.article-page-article h6 {
    font-weight: 700;
    color: #31405B;
    margin-bottom: 15px;
    line-height: 1.2;
}


.article-page-article h1 {
    font-size: 54px;
    margin-top: -6px;

}

.article-page-article h2 {
    font-size: 32px;

}

.article-page-article h3 {
    font-size: 26px;


}

.article-page-article h4 {
    font-size: 22px;
}


.article-page-article h5 {
    font-size: 20px;
}

.article-page-article h6 {
    font-size: 18px;
}

.article-page-article p {
    margin-bottom: 15px;
    color: #31405B;

}

.article-page-article img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-page-article>*:last-child {
    margin-bottom: 0;
}

/* Contacts */

.contacts-header {
    margin-bottom: 40px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info {
    width: 470px;
}

.contact-block {
    margin-bottom: 40px;
}

.contact-block+.contact-block {
    margin-top: 40px;
}

.contact-block-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    color: #31405B;
}

.contact-block-body {
    font-size: 20px;
}

.contact-list li {
    margin-bottom: 15px;
}

.contact-list a {
    color: #31405B;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.contact-list a:hover {
    color: #138ece;
}

.contact-list-icon {
    position: relative;
    padding-left: 39px;
}

.contact-list-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.contact-list-icon.phone::before {
    background-image: url(./../images/icons/tel.svg);
}

.contact-list-icon.email::before {
    background-image: url(./../images/icons/mail.svg);
}

.contact-list-icon.address::before {
    background-image: url(./../images/icons/map-pin.svg);
}

/* Contact form */

.form {
    width: 630px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
    padding: 40px;
}

.form-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group:last-of-type {
    margin-bottom: 35px;
}

.form-group-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

.input {
    font-family: 'PT Sans', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-size: 18px;
    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 6px;
    width: 100%;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: rgba(49, 64, 91, 0.5);
}


.form-group-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.radio-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.real-radio:focus+.custom-radio {
    border: 1px solid #2AB698;
    box-shadow: 0 0 10px rgba(42, 182, 152, 0.4);
}

.custom-radio {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

.custom-radio::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #2AB698;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.real-radio:checked+.custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}

/* Checkboxes */

.checkbox-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    cursor: pointer;

}


.custom-checkbox {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    position: relative;
    flex-shrink: 0;
}

.custom-checkbox::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    background-image: url(../images/icons/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}